<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1>
                    <%= title %>
                </h1>
                <p>about what?</p>
                <br>
                <hr size="5" color="green">
                <p> Matthew Yaworski </p>
                <p> Student Id: 300804964 </p>
                <p> myaworsk@my.centennialcollege.ca </p>

                <p>I am a currently in my third year of Software Engineering at Centennial College.
                    <br> Previously I studied at Sir Olivir Mowat Colligate Institute.</p>
                <p>Some of my favorite hobbies are:</p>
                <div>
                    <ul style="list-style-image: url(customBullet2.png);">
                        <li>Developing Software</li>
                        <li>General Research</li>
                        <li>Games</li>
                        <li>Cooking</li>
                        <li>Browsing the Web</li>
                        <li>Martial arts</li>
                    </ul>
                </div>
                <hr size="5" color="green">
            </div>
        </div>
    </div>

    <% include ../partials/footer.ejs %>