<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <br>
        <hr size = "5" color="green">
        <h3>Contact me at:</h3>
        <p>Matthew Yaworski </p>
        <p>Student Id: 300804964 </p>
        <p>myaworsk@my.centennialcollege.ca </p>
        <p>matthewyaworski@gmail.com</p>
        <p>https://github.com/Vyred/</p>
        <p>Please Don't Solicit</p>
        <hr size = "5" color="green">
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>